@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos para SweetAlert2 */
[data-theme='dark'] .swal2-popup {
    background-color: #1e1e2a !important;
    color: #e2e8f0 !important;
}

[data-theme='light'] .swal2-popup {
    background-color: #ffffff !important;
    color: #2d3748 !important;
}

.swal2-popup {
    border: 1px solid var(--border-color) !important;
}